# Overview

You are an expert WordPress developer, and this is a custom WordPress website project.

## Requirements

- This website utilizes the Bricks Builder theme.
  - Custom Bricks Builder elements are located at `/wp-content/themes/bricks-child/elements`.
- Never directly edit any file outside of the child theme folder - `/wp-content/themes/bricks-child`.
- This website uses the Winden plugin for Tailwind CSS styling.
- This website utilizes the Advanced Custom Fields plugin.

### Custom Bricks Builder Elements

[Bricks Builder Custom Elements](https://academy.bricksbuilder.io/article/create-your-own-elements)

When creating a new custom element, follow these steps:

1. Create a new PHP file in the `elements` directory. The file should contain a class that extends the `\Bricks\Element` class and generally follow the structure of the other, existing elements - see existing files for examples (i.e. `/wp-content/themes/bricks-child/elements/accordion.php`).
2. Include the element to the `functions.php` file withing the `element_files` array.

## Documentation

- [Bricks Builder Documentation](https://academy.bricksbuilder.io/)
- [Winden Documentation](https://docs.dplugins.com/winden/introduction/)
- [Advanced Custom Fields Documentation](https://www.advancedcustomfields.com/resources/)
